body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}
header,footer{
    background-color: coral;
}
.site-title{
    color:antiquewhite;
}
#image{
    box-shadow:black;
}
article ol{
    list-style: square;
}
article ol li:nth-child(odd){
    background-color: burlywood;
}
nav ul{
    list-style-type: none;
}
nav a{
    text-decoration: none;
    border-style: outset;
    background-color: azure;
}
nav a:hover,
nav a:focus{
    background-color: azure;
}